// Place all the styles related to the dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #e0dacc;
    text-align: center;
}

h1 {
  font-family: 'Barrio', cursive;
  color: #c1af89;
}


a {
  text-decoration: none;
  color: #3d321a;
}
